@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

/*
*	div and button for centering 
*/
.global_center_wrapper {
	text-align: center;
}

.global_center_button {
	position: absolute;
	top: 40%;
    right: 37.5%;
}

.global_blue_button {
	background-color: #4183D7 !important;
}