@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

/*
*	div and button for centering 
*/
.global_center_wrapper {
	text-align: center;
}

.global_center {
	position: absolute;
    right: 32%;
}

.global_blue_button {
	background-color: #4183D7 !important;
}